 <div class="random">
 <div class="row">

 {{#each responseFromAPI}}
 <div class="col-md-2"></div>
 <div class="col-md-2">{{>beerImage}}</div>

 <div class="col-md-6">

<div class="card-body">
            {{>beerName}}
            {{>beerTagline}}
            {{>beerDescription}}
            <h5>Food Pairing</h5>

                <ul>
                        {{#each food_pairing}}
                        <li>{{this}}</li>
                        {{/each}}
                </ul>
                <h5>Brewers Tips</h5>
                <p>{{brewers_tips}}</p>
            
           
 </div>
<div class="col-md-2"></div>


        {{/each}}

</div>
</div>


 